.blog-post{
	padding-right: 25%;
	padding-left: 25%;
	width: 50%;
}
.comparison-container{
	width:100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding-left: 1%;
	padding-right: 1%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .35);
}
.comparison-selecter{
	box-shadow: none;
}
.code-comparison{
	flex-grow: 2;
	max-width: 43%;
}
.comparison-divisor{
	flex-grow: 1;
}
.code-block{
	height: 20%;
}
.post p{
	color: #444444;
}
.post-title-text{
	color: #444444;
}
